{% extends "base.html" %}

{% block content %}
<form class="form-signup" id="signup_form" method="post" action="/accounts/signup/">
  {% csrf_token %}
  <h2>Sign Up</h2>
  <div class="errors">{{ form.errors }}</div>
  <p>
    <!-- <label for="id_username">Username:</label> -->
    <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
  </p>
  <p>
    <!-- <label for="id_email">E-mail (optional):</label> -->
    <input type="email" name="email" placeholder="E-mail" autocomplete="email" id="id_email">
  </p>
  <p>
    <!-- <label for="id_password1">Password:</label> -->
    <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
  </p>
  <p>
    <!-- <label for="id_password2">Password (again):</label> -->
    <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
  </p>
  
  <button type="submit">Sign Up</button>
  <p><a href="/accounts/login/">Login</a></p>
</form>
<style>
.form-signup {
  max-width: 400px;
  margin: 3em auto;
  padding: 1em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.3em;
}
.form-signup input {
  width: 90%;
  margin: 0 auto;
}
.form-signup button {  
  width: 90%;
  background: #3861FB;
  color: #FFF;
  border-color: #3861FB;
}
.form-signup .errors {
  color: #E00;
  text-align: left;
}
</style>
{% endblock %}
