{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<form method="post" class="form-post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
<style>
    .form-post {
      /*max-width: 400px;*/
      width: 90%;
      margin: 3em auto;
      padding: 1em;
      text-align: center;
      background: #FFF;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 0.2em;
    }
    input {
      width: 100%;
      max-width: 936px;
      margin: 0 auto;
      border: 2px solid #EEE;
      border-radius: 0.3em;
    }
    input[type=submit] {  
      width: 90%;
      background: #3861FB;
      color: #FFF;
      border-color: #3861FB;
    }
    .errorlist {
      color: #E00
    }
    p label {
      margin-bottom: 0.5em;
      padding-left: 1em;
      text-align: left;
    }
</style>
{%endblock%}